<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Hello</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-init="people=[{name:'John', city:'Chandler'}, {name:'Dave', city:'Seattle'}, {name:'Tina', city:'New York'}]">
    <h3>Iterating through data with ng-repeat</h3>
	<ul>
    	<li ng-repeat="person in people">{{ person.name + ' ' + person.city }}</li>
    </ul>  
	<br>
    <table>
    	<tr>
    		<td>Name</td>
    		<td>City</td> 
    	</tr>
    	<tr ng-repeat="person in people">
    		<td>{{ person.name }}</td>
    		<td>{{ person.city }}</td>
    	</tr>
    </table>
    
    <script src="libs/angularjs/angular.js"></script>
    <script> 
    var app = angular.module('myApp', []);
	</script>
</body>
</html>